<% include ./partials/header %>

<div class="ui main text container">
	<div class="ui huge header">Brian's Node Blog</div>
		<div class="ui top attached segment">
			<div class="ui divided items">
				<% blogs.forEach(function(blog) { %>
					<div class="item">
						<div class="content">
							<a class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
						</div>
						<div class="meta">
							<span><strong><%= blog.created.getMonth() %> / <%= blog.created.getFullYear() %></strong></span>
						</div>
					</div>
				<% }) %>
			</div>
		</div>
</div>


<% include ./partials/footer %>