<% include ./partials/header %>

<div class="container">
	<form id="register-login-forms" class="ui form" action="/register" method="POST">
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<button class="ui basic green button">Sign Up</button>
	</form>
</div>

<% include ./partials/footer %>