<form action="/register" method="post">
	<input class="ui form" type="text" name="username" placeholder="username">
	<input class="ui form" type="password" name="password" placeholder="password">
	<button class="ui basic green button">Sign Up</button>
</form>